h1,
figcaption {
    font-family: Arial, Helvetica, sans-serif;
}

h2,
p {
    font-family: 'Courier New', Courier, monospace;
}

#page-content {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}